/*Кнопка*/
#GRV-btn-menu {
    z-index: 10001;
    position: fixed!important;
    left: -1px;
    top: 50%;
    width: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 16px;
    color: white!important;
    background: #d70d18;
    padding: 10px 5px;
    margin-top: -25px;
    transition: .5s;
    text-align: center;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
#GRV-btn-menu:hover{
    background: #a00f17;
    cursor: pointer
}
#GRV-btn-menu:before{
    content: "***";
    font-family: "FontAwesome";
    color: #fff;
    cursor: pointer;
    display: block;
}
#GRV-btn-menu.active:before{
    content: "х";
}

/*Само меню*/
#GRV-main-menu {
    background: #fff;
    width: 100%;
    max-width: 280px;
    height: 100vh;
    overflow-x: auto;
    position: fixed;
    left: -310px;
    top: 0;
    z-index: 10;
    padding:50px 10px;
    box-shadow: -3px 0 10px 0 #363636;
    transition: .5s;
    display: flex;
    flex-direction: column;
}
#GRV-main-menu::-webkit-scrollbar { width: 3px; height: 3px;}
#GRV-main-menu::-webkit-scrollbar-button {  background-color: #666; }
#GRV-main-menu::-webkit-scrollbar-track {  background-color: #999;}
#GRV-main-menu::-webkit-scrollbar-track-piece { background-color: #ffffff;}
#GRV-main-menu::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
#GRV-main-menu::-webkit-scrollbar-corner { background-color: #999;}
#GRV-main-menu::-webkit-resizer { background-color: #666;}

#GRV-main-menu span.close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .5s;
    border-radius: 50px;
    background: white;
    border: 1px solid #191919;
    opacity: .3;
}
#GRV-main-menu span.close:before,
#GRV-main-menu span.close:after{
    content: '';
    width: 20px;
    height: 2px;
    background: #191919;
    display: block;
    transform: rotate(45deg);
    margin: 14px 0 0 5px;
}
#GRV-main-menu span.close:after{
    margin: -2px 0 0 5px;
    transform: rotate(-45deg);
}
#GRV-main-menu span.close:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: .5s;
    opacity: 1;
}
#GRV-main-menu.fadeInLeft-menu {
    left: 0!important;
    box-shadow: 0 0 0 10000px rgb(0 0 0 / 50%);
}
#GRV-main-menu ul li a {
    color: #363636;
    width: 100%;
    display: block;
    font-size: 18px;
    line-height: 25px;
    white-space: normal;
    padding: 3px 15px 3px 15px;
    border-top: 1px solid #eee;
}
#GRV-main-menu ul li:first-child a{
    border-top: 0;
}
#GRV-main-menu ul li:hover {
    background: #1e79be;
    color: white;
    transition: .5s
}
#GRV-main-menu ul > li:hover a{
    color: white;
}